
<body>
    <div class="search-container">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Caută...">
            <button class="search-button">Caută</button>
        </div>
        
    </div>
    <div class="tables-container">
        <div class="table">
            <h2>Cele mai căutate Farmacii</h2>
            <table>
                <tr>
                    <th>Farmacie</th>
                    <th>Locație</th>
                </tr>
                <tr>
                    <td>Farmacia Dr. Max</td>
                    <td>Strada Avram Iancu 77 || Strada Lungă 8 || Strada Alexandru Ioan Cuza 19</td>
                    
                </tr>
                <tr>
                    <td>Catena</td>
                    <td>Bulevardul Grivitei 53 || Strada 13 Decembrie 6 || Strada Iuliu Maniu 68</td>
                </tr>
                <tr>
                    <td>Farmacom</td>
                    <td>Strada Zizinului 71 || Bulevardul Grivitei 67 || Strada Uranus 14</td>
                </tr>
                <tr>
                    <td>HelpNet</td>
                    <td>Bulevardul Grivitei 47 || Str. Oltet 33 || Strada Republicii 18</td>
                </tr>
            </table>
        </div>
        
        <div class="table">
            <h2>Cele mai căutate medicamente</h2>
            <table>
                <tr>
                    <th>Medicament</th>
                    <th>Producător</th>
                </tr>
                <tr>
                    <td>Paracetamol 1000mg</td>
                    <td>S.C. LaborMed Pharma S.A Bucuresti</td>
                </tr>
                <tr>
                    <td>Ibudol 400mg</td>
                    <td>NATUR PRODUKT ZDROVIT</td>
                </tr>
                <tr>
                    <td>Nurofen forte 400mg</td>
                    <td>S.C. EXRTRAMED Brasov</td>
                </tr>
                <tr>
                    <td>Aspacardin</td>
                    <td>RANBAXY</td>
                </tr>
                <tr>
                    <td>THERAFLU</td>
                    <td>NOVARTIS</td>
                </tr>
                <tr>
                    <td>STREPSILS</td>
                    <td>RECKITT BENCKISER</td>
                </tr>
                <tr>
                    <td>DICARBOCALM</td>
                    <td>SANOFI</td>
                </tr>
                <tr>
                    <td>MAGNE B6</td>
                    <td>SANOFI</td>
                </tr>
            </table>
        </div>
    </div>
</body>
