<body>
    <div class="login-container">
        <form class="login-form" (submit)="onSubmit($event)">
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="admin.email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="admin.password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>