/* Styles for the admin dashboard HTML */

.body {
    background-color:  #c2c1c1;
}

/* Admin dashboard container */
.admin-dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Heading styles */
.admin-dashboard h1 {
    color: #333333; /* Dark gray */
    margin-bottom: 20px;
}

/* Button styles */
.admin-dashboard .buttons {
    margin-bottom: 20px;
}

.admin-dashboard button {
    background-color: #535353; /* Blue */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px; /* Spacing between buttons */
}

/* Form styles */
.admin-dashboard .form {
    margin-bottom: 20px;
}

.admin-dashboard .input-group {
    margin-bottom: 10px;
}

.admin-dashboard label {
    display: block;
    margin-bottom: 6px;
    color: #333333; /* Dark gray */
}

.admin-dashboard input[type="text"],
.admin-dashboard input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc; /* Light gray */
}

.admin-dashboard button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #535353; /* Blue */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-dashboard button[type="submit"]:hover {
    background-color: #535353; /* Dark blue on hover */
}

/* All Pharmacies list styles */
.admin-dashboard ul {
    list-style-type: none;
    padding: 0;
}

.admin-dashboard li {
    margin-bottom: 6px;
    color: #333333; /* Dark gray */
}

.pharmacy-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pharmacy-table th,
  .pharmacy-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .pharmacy-table th {
    background-color: #333;
    color: white;
  }
  
  .pharmacy-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .pharmacy-table tr:hover {
    background-color: #ddd;
  }