/* Stiluri pentru header */

.header {
    background-color: #333333; /* Dark gray background */
    padding: 20px; /* Spacing between content and margins */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Stiluri pentru logo și nume site */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px; /* Logo dimensions */
    height: auto;
    margin-right: 10px; /* Spacing between logo and site name */
}

.site-name {
    color: #ffffff; /* White text */
    margin: 0; /* Remove default margins */
    font-size: 24px; /* Font size */
}

/* Stiluri pentru butoane */
.buttons {
    display: flex;
    align-items: center;
}

.menu-button, .login-button {
    background-color: #535353; /* Dark gray background for buttons */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px; /* Spacing between buttons */
}

/* Stiluri pentru dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cecdcd; /* Light gray background for dropdown */
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #666666; /* Dark gray text */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dddddd; /* Light gray background on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}
