  <div class="pharmacy-container">
    <mat-card *ngFor="let pharmacy of pharmacies">
        <mat-card-header>
          <div class="pharmacy-avatar" [ngStyle]="{'background-image': 'url(' + logo + ')'}"></div>
            <mat-card-title>{{ pharmacy.name }}</mat-card-title>
            <mat-card-subtitle>{{ pharmacy.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Location: {{ pharmacy.latitude }}, {{ pharmacy.longitude }}</p>
            <p>Medicines:</p>
            <ul>
                <li *ngFor="let med of pharmacy.meds">{{ med.name }}: {{ med.quantity }}</li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <button  (click)="reserve(pharmacy.id)">Rezerva</button>
            <button    (click)="showLocation(pharmacy.latitude, pharmacy.longitude)">Arata Locatia</button>
        </mat-card-actions>
    </mat-card>
  </div>
